<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :device_model %>
    <%= form.text_field :device_model %>
  </div>

  <div class="field">
    <%= form.label :imei %>
    <%= form.text_field :imei %>
  </div>

  <div class="field">
    <%= form.label :anual_price %>
    <%= form.text_field :anual_price %>
  </div>

  <div class="field">
    <%= form.label :installments %>
    <%= form.number_field :installments %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
